:root {
    --primary-red: #A92323;
}

@font-face {
    font-family: MainFont;
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: MainFontBold;
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: LogoFont;
    src: url(../fonts/Typographica-Blp5.ttf);
}

* {
    font-family: MainFont, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.line1 {
    width: 70%;
    margin: 40px auto;
    border: 1px dashed #e8e5e5;

}



.site-header {
    background-image: url("../images/Header-Background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 65vh;
    overflow-x: hidden;
}

.header__navbar {
    background-color: var(--primary-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    position: relative;
}

.hnavbar__logo img{
    height: 70px;
}

.site-active {
    border-bottom: 3px solid white;
    padding-bottom: 2px !important;
}

@media screen and (max-width: 799px) { 
    
    .site-active + li {
        padding-top: 10px !important;
    }

    .hnavbar_list li {
        padding: 5px 0;
      }

      .hnavbar_list > li:nth-last-of-type(2) {
        margin-bottom: 28px;
    }
    .hnavbar__podsluzby {
        top: 51%;
        left: 39%;
    }
    .hnavbar__podsluzby::before {
        top: -5px;
        left: 8px;
    }
    
}

.hnavbar__podsluzby {
    display: none;
    position: absolute;
    z-index: 20;
}

.hnavbar__podsluzby::before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
} 

.hnavbar_list {
    list-style-type: none;
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--primary-red);
    padding: 2em 3em;
    padding-left: 2em;
    border-radius: 30px 0px 0px 30px;
    top: 140%;
    right: -50%;
    transition: right 0.3s ease-in-out;
  }

.hnavbar_list li a {
    color: white;
    text-decoration: none;
}

.menu-active {
    display: flex;
    transition: right 0.3s ease-in-out;
}

.hnavbar_sluzby::after {
    content: url(../images/icons/arrow-down.svg);
    margin-left: 2px;
    cursor: pointer;
}

.podsluzby__list {
    background-color: #901A1A;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    list-style-type: none;
    padding: 0.5em 1em;
    padding-left: 10px;
}

.hnavbar_login a {
    text-transform: uppercase;
    font-family: MainFontBold;
    font-size: 18px;
}

.hnavbar_login {
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    align-items: center;
}

.hnavbar_login::before {
    content: url(../images/icons/user.svg);
    margin-right: 3px;
}

.sluzby-active {
    display: flex;
}

.hnavbar__hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 33px;
    position: relative;
}

.hnavbar__hamburger span {
    content: "";
    background-color: white;
    width: 100%;
    height: 7px;
    border-radius: 1em;
    position: absolute;
}

.hnavbar__hamburger span:first-of-type {
    top: 0;
    transition: top 0.1s ease-in-out 0.1s, transform 0.2s ease-in-out;
}
.hnavbar__hamburger span:nth-of-type(2) {
    top: 13px;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}
.hnavbar__hamburger span:last-of-type {
    bottom: 0;
    transition: bottom 0.1s ease-in-out 0.1s, transform 0.2s ease-in-out;
}

.ham-active span:first-of-type {
    transform:rotate(45deg);
    transition: top 0.1s ease-in-out, transform 0.2s ease-in-out 0.1s;
    top: 13px;
}
.ham-active span:nth-of-type(2) {
    transform: translateX(100px);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
}
.ham-active span:last-of-type {
    transform: rotate(-45deg);
    transition: bottom 0.1s ease-in-out, transform 0.2s ease-in-out 0.1s;
    bottom: 13px;
}

.header__heading_text {
    background-color: rgba(169, 35, 35, 50%);
    width: 70%;
    max-width: 330px;
    margin: 0 auto;
    margin-top: 4em;
    border-radius: 24px;
    padding: 1.5em 1em;
}

.header__heading_text * {
    text-align: center;
    color: white;
}

.heading_text__heading {
    font-family: LogoFont, sans-serif;
    font-weight: 500;
    font-size: 4em;
    margin: 0;
}

.heading_text__subheading {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
}

.datacho_advert {
    display: flex;
    justify-content: center;
}

.datacho_advert img {
    width: 100%;
    max-width: 800px;


}

.site-main {
    margin: 0 1em;
}















.advert__img img{
    width: 70%;
}







.ftop__logo img {
    height: 80px;
}




@media screen and (min-width: 800px) { 
    .site-header {
        height: 80vh
    }
    .header__navbar {
        padding: 0.5em 1.5em;
        position: absolute;
        left: 7%;
        right: 7%;
        top: 5%;
        border-radius: 10px;
    }
    .hnavbar__hamburger {
        display: none;
    }

    .hnavbar_list {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 1.4em;                                                  
    }

    .hnavbar_login {
        position: static;
    }

    .hnavbar__podsluzby {
        bottom: -45px;
        right: 85px;
    }
    
    .hnavbar__podsluzby::before {
        top: -8px;
        left: 22px;
    }

    .podsluzby__list {
        padding: 0.5em 1.2em;
        padding-right: 2.3em;
    }

    .podsluzby__list li {
        padding: 0.2em 0;
    }

    .header__heading_text {
        margin-top: 16em;
        padding: 2em 2.5em;
    }
}

@media screen and (min-width: 1100px) { 
    .header__navbar {
        padding: 0.5em 3em;
    }
    .hnavbar_list {
        gap: 3em;
    }
    .hnavbar_list li a {
        font-size: 1.2em;
    }
    .header__heading_text {
        margin-top: 15em;
        padding: 2.3em 2.8em
    }
    .heading_text__heading {
        font-size: 5.5em;
    }
    .heading_text__subheading {
        font-size: 1.6em;
    }
}