:root {
    --primary-red: #A92323;
}

@font-face {
    font-family: MainFont;
    src: url(../fonts/Cairo-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: MainFontBold;
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: LogoFont;
    src: url(../fonts/Typographica-Blp5.ttf);
}

* {
    font-family: MainFont, sans-serif;
}

*::selection {
    background-color: #bd4444;
}

body {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: MainFontBold;
}

.line1 {
    width: 70%;
    margin: 40px auto;
    border: 1px dashed #e8e5e5;
}



.site-header {
    background-image: url("../images/Header-Background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 65vh;
    overflow-x: hidden;
    filter: drop-shadow(0px 1px 10px #969595);
    position: relative;
}

.others--header {
    height: 50vh;
}

.header__navbar {
    background-color: var(--primary-red);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    user-select: none;
}

.hnavbar__logo img{
    height: 70px;
}

.site-active {
    border-bottom: 3px solid white;
    padding-bottom: 2px !important;
    width: max-content;
}

@media screen and (max-width: 799px) { 
    
    .site-active + li {
        padding-top: 10px !important;
    }

    .hnavbar_list li {
        padding: 5px 0;
      }

      .hnavbar_list > li:nth-last-of-type(2) {
        margin-bottom: 28px;
    }
    .hnavbar__podsluzby {
        top: 51%;
        left: 39%;
    }
    .hnavbar__podsluzby::before {
        top: -5px;
        left: 8px;
    }
    
}

.hnavbar__podsluzby {
    display: none;
    position: absolute;
    z-index: 20;
}

.hnavbar__podsluzby::before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
} 

.hnavbar_list {
    list-style-type: none;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--primary-red);
    padding: 2em 3em;
    padding-left: 2em;
    border-radius: 30px 0px 0px 30px;
    top: 26%;
    right: -100%;
    transition: right 0.3s ease-in-out;
  }

.hnavbar_list li a {
    color: white;
    text-decoration: none;
}

.menu-active {
    right: 0;
    transition: right 0.3s ease-in-out;
}

.hnavbar_sluzby::after {
    content: url(../images/icons/arrow-down.svg);
    margin-left: 2px;
    cursor: pointer;
}

.podsluzby__list {
    background-color: #901A1A;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    list-style-type: none;
    padding: 0.5em 1em;
    padding-left: 10px;
}

.hnavbar_login a {
    text-transform: uppercase;
    font-family: MainFontBold;
    font-size: 18px;
}

.hnavbar_login {
    position: absolute;
    bottom: 15px;
    right: 25px;
    display: flex;
    align-items: center;
}

.hnavbar_login::before {
    content: url(../images/icons/user.svg);
    margin-right: 3px;
}

.sluzby-active {
    display: flex;
}

.hnavbar__hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 33px;
    position: relative;
}

.hnavbar__hamburger span {
    content: "";
    background-color: white;
    width: 100%;
    height: 7px;
    border-radius: 1em;
    position: absolute;
}

.hnavbar__hamburger span:first-of-type {
    top: 0;
    transition: top 0.1s ease-in-out 0.1s, transform 0.2s ease-in-out;
}
.hnavbar__hamburger span:nth-of-type(2) {
    top: 13px;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
}
.hnavbar__hamburger span:last-of-type {
    bottom: 0;
    transition: bottom 0.1s ease-in-out 0.1s, transform 0.2s ease-in-out;
}

.ham-active span:first-of-type {
    transform:rotate(45deg);
    transition: top 0.1s ease-in-out, transform 0.2s ease-in-out 0.1s;
    top: 13px;
}
.ham-active span:nth-of-type(2) {
    transform: translateX(100px);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0;
}
.ham-active span:last-of-type {
    transform: rotate(-45deg);
    transition: bottom 0.1s ease-in-out, transform 0.2s ease-in-out 0.1s;
    bottom: 13px;
}

.header__heading_text {
    background-color: rgba(169, 35, 35, 50%);
    width: 70%;
    max-width: 330px;
    margin: 0 auto;
    margin-top: 4em;
    border-radius: 24px;
    padding: 1.5em 1em;
}

.header__heading_text * {
    text-align: center;
    color: white;
}

.heading_text__heading {
    font-family: LogoFont, sans-serif;
    font-weight: 500;
    font-size: 4em;
    margin: 0;
}

.heading_text__subheading {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    font-family: MainFont;
}

.datacho_advert {
    display: flex;
    justify-content: center;
}

.datacho_advert img {
    width: 100%;
    max-width: 800px;


}

.site-main {
    margin: 0 1.5em;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 4em
}

.informations_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin: 0;
}

.informations_item figcaption {
    max-width: 550px;
    padding: 0 20px;
}

.informations_item img {
    width: 100%;
    max-width: 590px;
    border-radius: 30px;
}

.informations_item figcaption h3, .informations_item figcaption p {
    text-align: center;
    margin: 0;
}

.informations_item figcaption h3 {
    font-family: MainFontBold;
    font-size: 3em;
    margin-bottom: 10px;
}

.advert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advert__heading {
    text-align: center;
    font-family: MainFontBold;
    font-size: 1.7em;
    margin-bottom: 0.7em;
}

.advert__img {
    width: 90%;
    max-width: 800px;
}

.advert__img img {
    width: 100%;
}

.site-footer {
    background-color: var(--primary-red);
    margin-top: 7em;
    padding: 1em 2em;
}

.ftop_list {
    list-style-type: none;
    color: white;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.ftop_list li {
    width: 140px;
}

.ftop_list a {
    text-decoration: underline;
    color: white;
}
.ftop_list p {
    margin: 0;
}

p.ftop_list__heading {
    font-family: MainFontBold;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 10px;
}

.ftop__logo img {
    height: 90px;
}

.footer_bottom {
    display: flex;
    color: white;
    justify-content: space-between;
}



.kontakt_heading {
    font-family: MainFontBold;
    font-weight: 800;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 0;
}

.kontakt_subheading {
    text-align: center;
    font-size: 1em;
}

.kontakt_subheading a {
    color: black;
}

.kontakt_form {
    background-color: #F6F6F5;
    display: flex;  
    flex-direction: column;
    margin-top: 3em;
    padding: 3em;
}

.kontakt_form label {
    font-family: MainFontBold;
    font-weight: 700;
    margin-bottom: 5px;
}

.kontakt_form label:has(+input[required])::after, .kontakt_form label:has(+select[required])::after {
    content: "*";
    color: var(--primary-red);
    font-size: 1.3em;
}

.kontakt_form input,.kontakt_form select {
    width: 100%;
    height: 40px;
    border: 2px black solid;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.kontakt_form textarea {
    margin: 0 auto;
    height: 250px;
    width: 100%;
    border: 2px black solid;
}

.submit__cta {
    text-align: center;
    margin-top: 3em;
}

.submit_button {
    color: white;
    background-color: var(--primary-red);
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 25px;
    font-family: MainFontBold;
    font-size: 1.3em;
    cursor: pointer;
}

.form__PopupWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .PopupWindow_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 280px;
    height: 130px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .form__PopupWindow p:first-of-type {
    font-family: MainFontBold;
    font-size: 1.3em;
  }
  
  #FormCloseBtn {
    padding: 10px 20px;
    background-color: var(--primary-red);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .sluzby {
    margin-top: 5em;
  }

  .sluzby__heading {
    text-align: center;
    font-family: MainFontBold;
    font-weight: 800;
    font-size: 2.4em;
  }

  .sluzby__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 2em;
  }

  .sitems__item {
    max-width: 380px;
    margin: 0;
  }

  .sitems__item img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .sitems__item figcaption {
    height: 150px;
  }

  .sitems__item figcaption h3 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 0;
  }

  .sitems__item figcaption p {
    text-align: center;
    margin-top: 12px;
    font-size: 1.2em;
    margin-bottom: 3px;
  }

  .sitems__item a {
    display: block;
    text-align: center ;
    color: black;

  }
  

@media screen and (min-width: 800px) { 

    .line1 {
        margin: 5em auto;
    }
    .site-header {
        height: 65vh
    }
    .others--header {
        height: 23vh;
    }

    .header__navbar {
        padding: 0.5em 1.5em;
        position: absolute;
        left: 7%;
        right: 7%;
        top: 5%;
        border-radius: 10px;
    }
    .others--header .header__navbar {
        top: 15%;
    }

    .hnavbar__hamburger {
        display: none;
    }

    .hnavbar_list {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 1.4em;                                                  
    }

    .hnavbar_login {
        position: static;
    }

    .hnavbar__podsluzby {
        bottom: -45px;
        right: 96px;
    }
    
    .hnavbar__podsluzby::before {
        top: -8px;
        left: 22px;
    }

    .podsluzby__list {
        padding: 0.5em 1.2em;
        padding-right: 2.3em;
    }

    .podsluzby__list li {
        padding: 0.2em 0;
    }

    .header__heading_text {
        margin-top: 16em;
        padding: 2em 2.5em;
    }

    .site-main {
        margin: 0 5em;
    }

    .informations_item figcaption p {
        font-size: 1.1em;
    }

    .advert__heading {
        font-size: 3em;
        margin-bottom: 1em;
    } 

    .site-footer {
        padding: 1em 5em;
    }

    .ftop_list {
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .ftop_list li:nth-of-type(3) {
        order:-1;
    }

    .footer_bottom {
        padding: 0 3em;
    }

    .kontakt_heading {
        font-size: 3em;
    }
    
    .kontakt_subheading {
        font-size: 1.2em;
    }

    .sluzby__heading {
        font-size: 3.5em;
      }
      .sitems__item figcaption h3 {
        font-size: 2.4em;
      }
    
      .sitems__item figcaption p {
        font-size: 1.4em;
      }
}

@media screen and (min-width: 1100px) { 
    .header__navbar {
        padding: 0.5em 3em;
    }
    .hnavbar_list {
        gap: 3em;
    }

    .hnavbar__podsluzby {
        bottom: -55px;
        right: 170px;
    }
    
    .hnavbar__podsluzby::before {
        top: -8px;
        left: 22px;
    }
    .hnavbar_list li a {
        font-size: 1.2em;
    }
    .header__heading_text {
        margin-top: 12em;
        padding: 2.3em 2.8em
    }
    .heading_text__heading {
        font-size: 5.5em;
    }
    .heading_text__subheading {
        font-size: 1.6em;
    }

    .site-main {
        margin: 0 6em;
    }

    .informations_item {
        flex-direction: row-reverse;
        gap: 4em;
    }

    .informations_item figcaption {
        max-width: 10000px
    }

    .informations_item:first-of-type {
        flex-direction: row;
    }
    .informations_item img {
        width: 50%;
        max-width: 100000px;
    } 
    .informations_item figcaption h3,.informations_item figcaption p  {
        text-align: left;
        font-size: 3.5em;
    }
    .informations_item figcaption p {
        font-size: 1.1em;
    }

    .ftop_list {
        gap: 3.5em;
        margin-bottom: 10px;
    }

    p.ftop_list__heading {
        margin-top: 0;
    }

    .footer_top {
        display: flex;
        justify-content: space-between;
    }

    p.diff--margin {
        margin-bottom: 0;
    }

    .kontakt_form label {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    .kontakt_form select {
        padding: 1px 0;
        padding-right: 2px;
    }

    .kontakt_form input, .kontakt_form select {
        width: 80%;
        padding-left: 10px;
    }

    input, select {
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
    }

    .kontakt_form textarea {
        height: 270px;
        width: 80%;
        padding-left: 10px;
        padding-top: 10px;
    }

    .sluzby__items {
        gap: 9.5em;
        flex-direction: row;
        margin-top: 5em;
      }
}
@media screen and (min-width: 1200px) { 
    .sluzby__items {
        gap: 13em;
        flex-direction: row;
      }
}

@media screen and (min-width: 1400px) { 
    .ftop_list {
        gap: 7em;
    }

    .informations_item figcaption h3 {
        font-size: 4em;
    }

    .informations_item figcaption p {
        font-size: 1.3em;
    }
    .site-main {
        margin: 0 9em;
    }

    .kontakt_heading {
        font-size: 3.2em;
    }
    
    .kontakt_subheading {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1600px) { 
    .informations_item figcaption p {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1800px) { 
    .informations_item figcaption p {
        font-size: 1.7em;
    }
}